body{
    background-color: palegoldenrod;
    text-align: center;
}
h1 {
    font-style: italic;
    list-style-position: inside;
}
p {
    color: darkred;
    font-style: initial;
    list-style-position: inside;
   text-align: center; 

}
img {
    max-width:80%;
    height: auto;
    }
